<%
#   A view for displaying a list of users. 
%>

<table class="user_list">
  <% users.each do |user| %>
    <tr>
      <td>
	      <%= link_to user.username, user %>
      </td>
      <td>
        <%= user.like_count %> Likes
      </td>
    </tr>
  <% end %>
</table>
