<%
#    A view for displaying a list of users. 
#
#    Author:: Alex Miller
%>

<table class="user_list">
  <% users.each do |user| %>
    <tr>
      <td>
        <%= ajax_link_to user.username, user %>
      </td>
      <td>
      	<%= user.like_count %>        
      	<% if user.like_count == 1 %>
                 Like
      	<% else %>
            	   Likes
      	<% end %>
      </td>
    </tr>
  <% end %>
</table>
