<%
#    Displays an index of all users.
#
#    Author:: Alex Miller
%>

<div class="small_module module" id="footer">
    <%= ajax_link_to "Search for Users", "/users/search" %> • <%= ajax_link_to "All Users", "users"%>
</div>

<div class="module">
<h2>All Users</h1>

<%= render :partial => "users/user_list", :locals => {:users => User.all} %>

</div>
