<%
#   Search box and container for search results. Search results are loaded
#   dynamically using AJAX. See javascripts/search.js.
%>

<div id="user_search_container">
  <div id="search_form">
    <input id="user_search_box" type="text" name="userName" size=25 />
    <button id="user_search_button">Search</button>
  </div>
  <div id="search_results">
  </div>
</div>
