<%
#   Search box and container for search results. Search results are loaded
#   dynamically using AJAX. See javascripts/search.js.
%>

<div class="small_module module">
    <%= ajax_link_to "Search for Users", "/users/search" %> • <%= ajax_link_to "All Users", "users"%>
</div>

<div class="module">
  <h2>Find a Friend</h2>
  <div id="search_form">
    <input id="user_search_box" type="text" name="userName" size=25 />
    <button id="user_search_button">Search</button>
  </div>
  <div id="search_results">
  </div>
</div>


<script type="text/javascript">
$('#user_search_box').Watermark("Search for user...");
</script>