<%
#   A view for displaying a list of users. 
%>



<div class="user_list">
  <dl class="table-display">
    <% @results.each do |user| %>
    <div class "user">
      <p>
	<%= link_to "#{user.id}" do %>
	<dt><%= user.first_name %> <%= user.last_name %></dt>
	<dd><%= user.username %></dd>
	<% end %>
      </p>
    </div>
    <% end %>
  </dl>
</div>

