<%
#   Controls and container for the Grooveshark Flash player. The player is added
#   via Javascript. See javascripts/songs.js.
%>

<div id="player_container">
    <div id="controls">
      <button type="button" id="play">Play</button>
      <button type="button" id="pause">Pause</button>
      <button type="button" id="stop">Stop</button> 
    </div>
    <span id="player"></span>
</div>