<div class="song">
    <div class="play_button">
        <a href="#" class="play">play <%= song["SongID"] %></a>
    </div>
    <div class="song_info">
        <%= song["SongName"] %> by <%= song["ArtistName"] %>
    </div>
</div>