<%
#    A view for displaying a list of songs. Composed of single song partial
#    views.
#
#    Author:: Alex Miller
%>

<div class="song_list">
<% songs.each do |song| %>
  <%= render :partial => "songs/song_add", :locals => {:song => song} %>
<% end %>
</div>