<%
#   View for a single song. Includes play button and song information.
%>

<div class="song">
  <object width="250" height="40">
    <param name="movie" value="http://grooveshark.com/songWidget.swf" />
    <param name="wmode" value="window" />
    <param name="allowScriptAccess" value="always" />
    <param name="flashvars" value="hostname=cowbell.grooveshark.com&amp;songIDs=<%= song["SongID"] %>&amp;style=metal&amp;p=0" />
    <embed src="http://grooveshark.com/songWidget.swf" type="application/x-shockwave-flash" width="250" height="40" flashvars="hostname=cowbell.grooveshark.com&amp;songIDs=30670743&amp;style=metal&amp;p=0" allowScriptAccess="always" wmode="window" />
  </object>
  
  <a href="#">Add</a>
</div>