<div class="song">
    <div class="play_button">
        <%= link_to "Play", "#", :class => 'play_song', :id => song["SongID"] %>
    </div>
    <div class="song_info">
        <%= song["SongName"] %> by <%= song["ArtistName"] %>
    </div>
</div>