<%
#    View for a single song. Includes a Grooveshark Flash widget for playing the
#    song.
#
#    Author:: Alex Miller
%>

<div class="song" id="<%= song["api_id"] %>">
  <a href="#" onclick="makePlaylist">Play Song</a>
</div>
