<%
#    A view for displaying a list of songs. Composed of single song partial
#    views.
#
#    Author:: Alex Miller
%>

<div class="song_list playlist_container">
<% if songs.empty? %>
  <p>No songs match your search!</p>
<% else %>
  <% songs.each do |song| %>
    <%= render :partial => "songs/song", :locals => {:song => song, :add => true} %>
  <% end %>
<% end %>
</div>
