<%
#   View for a single song. Includes a Grooveshark Flash widget for playing the
#   song.
%>

<div class="song">
  <object width="250" height="40">
    <param name="movie" value="http://grooveshark.com/songWidget.swf" />
    <param name="wmode" value="window" />
    <param name="allowScriptAccess" value="always" />
    <param name="flashvars" value="hostname=cowbell.grooveshark.com&amp;songIDs=<%= song.api_id %>&amp;style=metal&amp;p=0" />
    <embed src="http://grooveshark.com/songWidget.swf" type="application/x-shockwave-flash" width="250" height="40" flashvars="hostname=cowbell.grooveshark.com&amp;songIDs=<%= song.api_id %>&amp;style=metal&amp;p=0" allowScriptAccess="always" wmode="window" />
  </object>
  
  <div class="add">
    <%= link_to_function image_tag('icons/add.png'), "postSong(#{song.api_id})" %>
  </div>
</div>