<%
#    View for a single song. Includes a Grooveshark Flash widget for playing the
#    song.
#
#    Author:: Alex Miller
%>

<div class="song" id="<%= song["api_id"] %>">
  <a href="#" onclick="makePlaylist(this)">Play Song</a>
  
  <% if add %>
  <div class="add">
    <%= link_to_function "+ add", "postSong(#{song.api_id})" %>
  </div>
  <% end %>
</div>