<% 
# About page for BeatTide.  
# 
# Author:: Brett Webber 
%>

<div class="module" id="user_header">
  <h2>About BeatTide</h2>
</div>

<div class="module">
  <p>BeatTide is a social music app that enables a simple friend-focused music experience. Its
  features include the ability to:</p>
  <ul>
    <li>Search for and play songs using Grooveshark</li>
    <li>Post songs to your profile that your friends can view</li>
    <li>Find friends via searching for their name or username</li>
    <li>
      Subscribe to a friend so that songs they post to their profile appear in your “feed,” a
      simple aggregation of the music your friends are posting that you can easily turn into a
      playlist
    </li>
    <li>Like a post and see how many likes a post has among all users</li>
    <li>View the top songs and top users by the “likes” they have received</li>
  </ul>

  <p>Ride the wave of simplicity with BeatTide and let your ripples be heard!</p>

  <p>BeatTide is a HuskySoft product.</p>

  <h2>Development Team:</h2>
  <ul >
    <li>Melissa Winstanley, Product Manager, High Arbiter of the Final Word, loved by all</li>
    <li>Alex Miller, Developer, Wizard of Web 2.0 Color Gradients</li>
    <li>Brett Webber, Developer, Grandmaster of the Four Elements of Data</li>
    <li>David Mailhot, Developer, Keeper of the Code</li>
    <li>Harnoor Singh, Developer, Grand Expositor General of Music</li>
    <li>Tyler Rigsby, Developer, Just a normal guy who has heart</li>
  </ul>
</div>
