<% 
# Page for frequently asked questions and their answers.  
# 
# Author:: Brett Webber 
%>

<div class="small_module module">
    <%= ajax_link_to "Tutorial", "/tutorial" %> • <%= ajax_link_to "FAQ", "/faq"%> • <%= ajax_link_to "About", "/about" %>
</div>

<div class="module" id="user_header">
  <h2>Frequently Asked Questions</h2>
</div>

<div class="module">
  <div class="module">
    <h3>
        What is BeatTide?
    </h3>
    <p class="answer">
      BeatTide is a social music app that allows you to share songs with other users as well as to
      discover music posted by your friends.
    </p>
  </div>
  <div class="module">
    <h3>
      How do I sign up for BeatTide?
    </h3>
    <p class="answer">
      If you have a Facebook account all you must do to sign up for BeatTide is log in with Facebook
      on our homepage.  Your account will be created with your Facebook information.
    </p>
  </div>
  <div class="module">
    <h3>
      What Facebook information does BeatTide use?
     </h3>
    <p class="answer">
      BeatTide just uses your first/last name and your Facebook id.
    </p>
  </div>
  <div class="module">
    <h3>
      Will BeatTide post messages on my Facebook wall?
     </h3>
    <p class="answer">
      No it will not.
    </p>
  </div>
  <div class="module">
    <h3>
      Who sees the content that I post on BeatTide?
     </h3>
    <p class="answer">
      Anyone on BeatTide can go to your profile page to see your posted songs.  Your posted songs
      can also show up in the aggregated playlist of users that are subscribed to you.
    </p>
  </div>
  <div class="module">
    <h3>
      Is there a limit to the number of songs that I can post?
     </h3>
    <p class="answer">
      No, there is no limit to the amount of songs you can post.
    </p>
  </div>
  <div class="module">
    <h3>
      How do I get more likes for my account?
     </h3>
    <p class="answer">
      You get more likes when other users “like” a song that you post.  It adds to your total number of likes.
    </p>
  </div>
  <div class="module">
    <h3>
      If I remove one of my posts, will I lose the likes that are associated with it?
     </h3>
    <p class="answer">
      Yes, your likes count will have the amount of likes from the deleted post removed from it.
    </p>
  </div>
</div>
