<%
#    Top level view of BeatTide.
%>
<div class="column left">
  <h2>Add Song</h2>
  <%= render :partial => "grooveshark/search" %>
  <h2>Your Songs</h2>
</div>
<div class="column right">
  <h2>Your Friend's Songs</h2>
</div>
