<%
#   View for a single post. Displays the song view and meta data about the post.
%>

<div class="post">
  <div class="posted_by">
    <strong><%= link_to post.user.username, current_user %></strong> posted:
  </div>
  <%= render :partial => "songs/song", :locals => {:song => post.song} %>
  <div class="info">
    <strong><a href="#">Like</a></strong> | <%= post.user.likes %> people like this
  </div>
</div>