<%= form_for(@post) do |f| %>
  <div class="field">

    <!-- TODO: songs are not text. 
    Need to connect this to a Song partial html view.-->
    <%= f.label :song_id %>
    <%= f.text_area :song_id %>
  </div>
  <div class="actions">
    <%= f.submit "Submit" %>
  </div>
<% end %>
