/*
 * Generic stylesheet for the entire website. High level styles like global
 * font styles and major UI elements should go here.
*/
body {
   font-family: helvetica, verdana, arial, sans-serif;
   background-color: #e3f4fc;
   line-height: 20px;
   padding: 0;
   margin: 0;
}

#header_container {
    background-image: url("header_background.png");
}

#header {
    width: 800px;
    margin: 0 auto 0 auto;
    height: 65px;
    padding-top: 10px;
}

#content {
    width: 780px;
    margin: 0 auto 0 auto;
    background: url("content_background.png");
    padding: 0 30px 0 30px;
}

#login {
    background-color: #f8f8f8;
    margin: 0;
    font-size: 12px;
    padding: 5px;
    margin-bottom: 10px;
}

#fb_button {
    background: url("signin_facebook.png");
    width: 150px;
    height: 22px;
    display: block;
    background-position: 0 0;
}

#fb_button:hover {
    background-position: 0 -24px;
}

#fb_button:active {
    background-position: 0 -48px;
}


#fb_button span {
    display: none;
}

.column { 
    width: 350px;
    padding-right: 30px;
    float: left;
}

#footer {
    clear: both;
    padding-top: 20px;
    text-align: center;
    font-size: 12px;
}

h2 {
    font-size: 20px;
    color: #333;
}

#welcome {
    margin: 20px;
    padding: 20px;
    background-color: #aa988b;
    border-top: 5px solid #000;
    border-bottom: 5px solid #000;
    color: #FFF;
}

a:link {
    color: #0090c6;
    text-decoration: none;
}

a:visited {
    color: #0090c6;
    text-decoration: none;
}

a:hover {
    color: #7b3908;
    text-decoration: underline;
}