/*
 * Generic stylesheet for the entire website. High level styles like global
 * font styles and major UI elements should go here.
*/
body {
   font-family: helvetica, verdana, arial, sans-serif;
   background-color: #e3f4fc;
   line-height: 20px;
   padding: 0;
   margin: 0;
}

#header_container {
    background-image: url("header_background.png");
	border-bottom: 3px solid #055271;
}

#header {
    width: 900px;
    margin: 0 auto 0 auto;
    height: 65px;
    padding-top: 10px;
	
	
}

#content {
    width: 900px;
    margin: 20px auto 0 auto;
}

.module {
	background-color: #FFF;
	border: 1px solid #CCC;
	margin: 10px;
	padding: 20px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
	border-radius: 4px;
	box-shadow: 2px 2px 0px #CCCCCC;
}


.small_module {
    background-color: #f8f8f8;
    font-size: 12px;
	padding-top: 5px;
	padding-bottom: 5px;
}

#fb_button {
    background: url("signin_facebook.png");
    width: 150px;
    height: 22px;
    display: block;
    background-position: 0 0;
}

#fb_button:hover {
    background-position: 0 -24px;
}

#fb_button:active {
    background-position: 0 -48px;
}


#fb_button span {
    display: none;
}

.column { 
    width: 450px;
    float: left;
}

#footer {
    clear: both;
    text-align: center;
    font-size: 11px;
}

h2 {
    font-size: 30px;
	font-weight: normal;
    color: #333;
	font-family: 'Rokkitt', cursive;
	margin-top: 5px;
}

#welcome {
    background-color: #aa988b;
    border: 5px solid #000;
    color: #FFF;
	margin-top: 20px;
}

a:link {
    color: #0090c6;
    text-decoration: none;
}

a:visited {
    color: #0090c6;
    text-decoration: none;
}

a:hover {
    color: #7b3908;
    text-decoration: underline;
}

.message {
    background-color: #85F135;
    border: 1px solid #1F5900;
    color: #1F5900;
    font-size: 16px;
    font-weight: bold;
}