/*
 * Styles for visual elements relating to the posts.
 *
 * Author: Alex Miller
 */
 
.post {
  position: relative;
  background-color: #f7f7f7;
  border: 1px solid #CCC;
  padding: 10px;
  font-size: 12px;
  margin-bottom: 5px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
}

.you_like {
  font-weight: bold;
}

.date_posted {
  color: #a7a7a7;
}

.text_left {
    float: left;
}

.text_right {
    float: right;
}

.pagination_clear {
    clear: both;
}

.delete_post {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 20px;
}

.delete_post a:link, .delete_post a:visited {
  color: #999;
}

.delete_post a:hover {
  color: #000;
  text-decoration: none;
}