/*
 * Styles for visual elements relating to the posts.
 *
 * Author: Alex Miller
 */
 
.post {
    background-color: #f7f7f7;
	border: 1px solid #CCC;
    padding: 10px;
    font-size: 12px;
	margin-bottom: 5px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
	border-radius: 4px;	
}

.you_like {
    font-weight: bold;
}