/**
 * Styles for song related UI elements, including the song player.
 *
 * Author: Alex Miller
 */
#player_container {
  position: absolute;
  top: 20px;
  right: 0px;;
}

#search_form {
  background-image: url("header_background.png");
  padding: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
}

#song_search_box, #user_search_box {
    width: 260px;
    font-size: 16px;
    background-color: #FFF;
    padding: 5px;
    color: #000000;
}

#search_form button, #user_search_button {
    font-size: 16px;
    height: 30px;
}

#search_results {
    padding: 10px;
}

#search_results .song {
    margin-top: 5px;
}

.play_button {
  background: url("play.png");
  width: 34px;
  height: 34px;
  border: none;
  margin-top: 7px;
  margin-right: 5px;
  float: left;
}

.play_button span {
  display: none;
}

.add_button {
  background: url("add.png");
  width: 34px;
  height: 34px;
  border: none;
  margin-top: 7px;
  margin-right: 5px;
  float: left;
}

.add_button:hover, .play_button:hover {
  background-position: -34px;
}

.add_button span {
  display: none;
}

.song {
  font-size: 12px;
  position: relative;
  margin-bottom: 5px;
}


.song_info {
  padding: 6px;
  margin-left: 75px;
}

.post .song_info {
  margin-left: 35px;
}

.song h3 {
  font-size: 20px;
  font-family: 'Rokkitt', cursive;
  font-weight: normal;
  padding: 0;
  margin: 0;
}


.song_info p {
  color: #333;
  margin: 0;
}

.song .add {
	font-family: 'Rokkitt', cursive;
	font-size: 20px;
	background-color: #6a9f37;
	color: #1d300a;
	border: 4px solid #406d14;
	padding: 15px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
	border-radius: 4px;
	box-shadow: 2px 2px 0px #CCCCCC;
}

.song .add a {
	color: #1d300a;
}


