body {
	font-size: 12pt; 
	font-family:  Verdana, Tahoma, serif;
	margin: 0px;
}

#searchBox{
	border: 2px solid #D16C00;
	align: center;
	font-size: 40px;
	margin: 0 auto;
}

#player {
	align: center;
	text-align: center;
	margin-top: 10px;
}

#container{
	text-align: center;
	margin-left: 40px;
	margin-right: 40px;
	margin-top: 40px;
	background-color: rgba(130,130,130,.1);
	border: 3px solid #ccc;
	padding: 20px;
	box-shadow: 10px 10px 20px #888;

}

#header {
	background-color: #000;
}

#header img {
	width: 340px;
	margin-left: auto;
}

#results {
	text-align: center;
	margin-left: 40px;
	margin-right: 40px;
	margin-top: 20px;
	background-color: rgba(130,130,130,.1);
	border: 3px solid #ccc;
	padding: 20px;
	box-shadow: 10px 10px 20px #888;
	visibility: hidden;
}

#footer {
	margin-right: 5%;
	margin-top: 90%;
}

table{
	margin-left: auto;
	margin-right: auto;
}

table, td, th {
	border: 1px solid black;
	padding: 10px;
}

table{
	border-collapse: collapse;
	padding: 15px;
}

#controls {
    margin-top: 30px;
    text-align: center;
}

button {
    font-size: 18px;

}