/*
 * Styles for visual elements relating to the user (i.e. user page).
 *
 * Author: Alex Miller
 */
 
#user_header {
   background-color: #aa988b;
   color: #000;
   padding: 10px 0 10px 10px;
   position: relative;
}

#user_header h2 {
    margin: 0;
}

#subscription_form {
    color: #000;
    font-size: 15px;
    padding: 5px;
    position: absolute;
    right: 10px;
    top: 5px;
    font-weight: bold;
    background-color: #FFF;
    -moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
	border-radius: 4px;
}