/*
 * Styles for visual elements relating to the user (i.e. user page).
 *
 * Author: Alex Miller
 */
 
#user_header {
   background-color: #aa988b;
   color: #000;
}

#user_header #name {
    font-family: 'Rokkitt', cursive;
    font-size: 30px;
    font-weight: bold;
    float: left;
    margin-right: 20px;
}

#subscription_form {
    padding-left: 100px;
}