<%
#   Search box and container for search results. Search results are loaded
#   dynamically using AJAX. See javascripts/search.js.
%>

<div id="search_container">
    <input id="song_search_box" type="text" name="songName" size=25 />
    <button id="song_search_button">Search</button>
    <div id="search_results">
    </div>
</div>