
<div id ="header">
  <a href="http://students.washington.edu/hsingh09/BeatTide"><img src="http://students.washington.edu/hsingh09/BeatTide/img/logo.png" alt="logo" /></a>
</div>


<object id="player" width="60" height="60" name="player">
  <param name="movie" value="http://grooveshark.com/APIPlayer.swf" />
  <param name="allowscriptaccess" value="always" />
  <param name="flashvars" value="path=deuter" />
  <embed id="player1" width="60" height="60" src="http://grooveshark.com/APIPlayer.swf" flashvars="path=deuter" type="application/x-shockwave-flash" allowfullscreen="true" allowscriptaccess="always" name="player" scale="noScale" salign="lt"></embed>
</object>

<div id="container">
  <input id="searchBox" type="text" name="songName" size=25 />
</div>


<div id="results">
</div>

<div id="footer">
  Powered by <a href="http://www.grooveshark.com">Grooveshark</a>
</div>

